
<!-- https://www.instagram.com/amitchakor/ -->
<!-- https://github.com/amitchakor21 -->

<div style="position:relative; text-align:center; height:100vh;">
    <div class="container-fluid row-flex" style="position:absolute; height: 100vh;">
        <div class="column-flex" style=" margin: 0px; padding: 0px;">
            <h1 class="p-2  ">Hii Amit Here</h1>
            <h3 class="p-2 titleDesc">Innovator, Developer, Passionate Coder</h3>
            <div class="p-2 container">
                <div class="d-flex justify-content-center align-items-center">
                    <a href="https://www.instagram.com/amitchakor/"><button type="button" class="btn"><i class="fab fa-2x fa-instagram pr-1"></i></button>
                    </a>
                    <a href="https://github.com/amitchakor21"><button type="button" class="btn"><i class="fab fa-2x fa-github pr-1"></i> </button>
                    </a>
                    <a href="https://www.linkedin.com/in/amit-chakor-117a9714a/"><button type="button" class="btn"><i class="fab fa-2x fa-linkedin pr-1"></i> </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <app-svg-repeater-bottom></app-svg-repeater-bottom>

</div>

