<div class="container-fluid" >
  <div class="row" 
        style="min-height: 60vh; padding: 20px;">
    <div class="col-lg-4 col-my " >
      <img [src]="logo" alt="img">
      <div class="shade ">
        <div class="ref"></div>
        <h4 class="shadeOut">How do you find the current width of a in a cross-browser 
          compatible way without using a library like jQuery? You can quickly 
          open a file or image or create a new file by moving the cursor to the file link 
          and using Ctrl+click. </h4>
      </div>
    </div>
      <div class="col-lg-4 col-my " >
        <img [src]="logo" alt="">
        <div class="shade">
          <div class="ref"></div>
          <h4 class="shadeOut">How do you find the current width of a in a cross-browser 
            compatible way without using a library like jQuery?</h4>
        </div>
      </div>
      <div class="col-lg-4 col-my " >
        <img [src]="logo" alt="">
        <div class="shade">
          <div class="ref"></div>
          <h4 class="shadeOut">How do you find the current width of a in a cross-browser 
            compatible way without using a library like jQuery?</h4>
        </div>
      </div>
  </div>
</div>

<div style="height: 20vh;">g</div>

