
<footer class="footer" style="min-height: 200px; width:100%; background-color: rgb(00,99,255,0.03); padding:35px 0px 10px 0px;">
    <div class="row " style="display: flex; justify-content: space-around; align-items: flex-start;">
        <div class="title-logos col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 order-1 order-sm-1 order-md-1">
            <div class="titleAlign">
                <h1>Amit B. Chakor</h1>
            </div>
            <div class="logos">
                <a href="https://www.instagram.com/amitchakor/"><button type="button" class="btn"><i class="fab fa-2x fa-instagram pr-1"></i></button>
                </a>
                <a href="https://github.com/amitchakor21"><button type="button" class="btn"><i class="fab fa-2x fa-github pr-1"></i> </button>
                </a>
                <a href="https://www.linkedin.com/in/amit-chakor-117a9714a/"><button type="button" class="btn"><i class="fab fa-2x fa-linkedin pr-1"></i> </button>
                </a>
            </div>  
        </div>
        <div class="changer col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4 order-2 order-sm-2 order-md-2">
            <div><h4>Menu</h4></div>
            <div class="items">
                <a href="./#about" >About</a>
                <a href="./#timeline" >Projects</a>
                <a href="./#robocon">RoboLove</a>
            </div>
        </div>
        <div class="changer col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4 order-3 order-sm-4 order-md-4">
            <div><h4>T&C</h4></div>
            <div class="items">
                <a href="" >Disclaimer</a>
                <a href="" >Privacy Policy</a>
            </div>
        </div>
        <div class="changer col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 order-4 order-sm-3 order-md-3" style="overflow: hidden;">
            <div><h4>Contact ME</h4></div>
            <div class="items">
                <a href="mailto:amitchakor21@gmail.com">AmitChakor21@gmail.com</a>
                <a href="" >+91-7040406398</a>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center; padding-top: 20px;">
        <p><span>Ⓒ</span><span>AmitChakor All Rights Reserved.</span> </p>
    </div>
</footer>