<div class="timelineimport">
    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h3>Stock Management (NOV 2018)</h3>
            <p>A web based software  that provides a help desk for departmental faculties and authorities. It includes management of Laboratory objects, their count and working status. Designed using HTML, CSS, JSP, MySQL Glassfish server, and Netbeans IDE.</p>
            <a href="https://github.com/amitchakor21/Stock-managment-PICT">GIT</a>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h3>PDF Read Aloud (March 2020) </h3>
            <p>An Android app based on Text to Speech application that read PDFs for you with multiple language suppport.</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h3>Home Automation (May 2020)
            </h3>
            <p>IOT based Home Automation System with support of databases and Visualization tool for Ease of use with security enhancement.
                Designed using Python, Android studio, Arduino, Proteus Simulation.
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h3>PortFolio (June 2020)</h3>
            <p>The thing that you are waching now</p>
          </div>
        </div>
</div>

<div id="trial" class="trial" style="scroll-behavior: smooth;"><h1>amit here</h1></div>