<div id="timeline" style="position: relative;">
  <div class="timelineimport">
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center">
        <h3 >Timeline</h3>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <h5 >Some of my projects</h5>
      </div>
    </div>
    <div class="timeline">
      <div class="container container_block left">
        <div class="content">
          <h4>Stock Management (NOV 2018)</h4>
          <p>A web based software  that provides a help desk for departmental faculties and authorities. It includes management of Laboratory objects, their count and working status. Designed using HTML, CSS, JSP, MySQL Glassfish server, and Netbeans IDE.</p>
          <a href="https://github.com/amitchakor21/Stock-managment-PICT"><button type="button" class="btn btn-git"><i class="fab fa-lg fa-github pr-1"></i> </button>
          </a>     
        </div>
      </div>
      <div class="container container_block right">
        <div class="content">
          <h4>PDF Read Aloud (March 2020) </h4>
          <p>An Android app based on Text to Speech application that read PDFs for you with multiple language suppport.</p>
          <div style="display: flex; justify-content: start; align-items: center;">
            <a href="https://github.com/anirudh-r-hub/PdfReader"><button type="button" class="btn btn-git"><i class="fab fa-lg fa-github pr-1"></i> </button>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.vaavdevelopers.pdfreadaloud&hl=en_IN"><button type="button" class="btn btn-git"><i class="fab fa-lg fa-android pr-1"></i> </button>
            </a> 
          </div>        </div>
      </div>
      <div class="container container_block left">
        <div class="content">
          <h4>Home Automation (May 2020)
          </h4>
          <p>IOT based Home Automation System with support of databases and Visualization tool for Ease of use with security enhancement.
              Designed using Python, Android studio, Arduino, Proteus Simulation.
          </p>
          <a href="https://github.com/amitchakor21"><button type="button" class="btn btn-git"><i class="fab fa-lg fa-github pr-1"></i> </button></a>
        </div>
      </div>
      <div class="container container_block right">
        <div class="content">
          <h4>PortFolio (June 2020)</h4>
          <p>The thing that you are waching now</p>
          <a href="https://github.com/amitchakor21/amit-chakor-portfolio"><button type="button" class="btn btn-git"><i class="fab fa-lg fa-github pr-1"></i> </button></a>
        </div>
      </div>
    </div>
  </div>

  <app-svg-repeater></app-svg-repeater>
  <app-svg-repeater-bottom></app-svg-repeater-bottom>
  
</div>


        <!-- <div class="container-fluid" style="position: absolute; z-index: 1; padding: 0px; top:0; background-color: #0099ff; opacity: 0.3;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="white" 
              d="M0,96L60,122.7C120,149,240,203,360,192C480,181,600,107,720,106.7C840,107,960,181,1080,197.3C1200,213,1320,171,1380,149.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
      </div> 
      
      <div class="container-fluid" style="position: absolute; z-index: 1; padding: 0px; bottom:0;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="#0099ff" fill-opacity="0.3" 
              d="M0,96L60,122.7C120,149,240,203,360,192C480,181,600,107,720,106.7C840,107,960,181,1080,197.3C1200,213,1320,171,1380,149.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
      </div>  -->