.title{
    color:rgb(200, 180, 180);
}

.titleDesc{
    color: rgb(187, 144, 144);
}

/* nav{
    margin: 0px;
    animation: 2s slide-right 2s forwards ease-out;
} */

@keyframes slide-right{
    from {margin-left: -100vw;}
    to {margin-left: 0;}
}

/* .navbar-brand{
    font-family: fantasy;
} */

a.color1{
    color: rgb(124, 108, 108);
}

/* 
.navbar_scrolledDown_bgcolor1{
    background-color: black;
    height: default;
    transition: height 1s ease-in-out;
}

.navbar_scrolledUp_bgcolor2{
    background-color: (0,0,0,0);
    height: 20vh;
    transition: height 1s ease-in-out;
}
 */


.row{
    max-width: 100vw;
}

.row-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* *{
    border: 1px solid red;
} */

.container-fluid{
    padding: 0px;
    margin: 0px;
}