

.align-center1{
    text-align: center;
    
}

.section-title{
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration-color: sienna;
  text-shadow: 0px 2px 4px rgba(71, 69, 69, 0.4) , 0 4px 8px rgb(0,0,0,0.1);
}
  .text-mcdr{
    text-align: right;
    vertical-align: auto;
  }
  
  .text-mcdl{
    text-align: right;
    vertical-align: auto;
  }


img {
  max-width: 100%;
  height: auto;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px #111111, 0 4px 8px grey;

}


  
.mycontainer{
  padding: 0px 50px 0px 20px;
}


/* * {
  border: 1px solid #f00 !important;
}  */




#mybutton:hover{
  box-shadow: 1px 1px 1px black, 0 0 5px blue, 0 0 5px darkblue;
}



@media only screen and (max-width: 767px) {
  .text-mcdr{
    text-align: center;
    vertical-align: auto;
  }
  
  .text-mcdl{
    text-align: center;
    vertical-align: auto;
  }

  .mycontainer{
    padding: 0px 20px;
  }

  img{
    height: 50vh;
    width: 50vw;
    margin-bottom: 10vh;
    object-fit: cover;
  } 

  .mb30{
    padding: 0px 8vw;
  }
} 
