
<div id="about" style="position: relative;">
  <div class="row flex-row align-items-center justify-content-around" style="min-height: 100vh; width:100%; margin: 0px;">      
      <div class="p-2 col-xl-7 col-lg-7 col-md-6 col-sm-10 col-10 mycontainer">
            <h2 class="section-title">About</h2>
            <h4 >I'm a IT Fresher who loves to bring IDEAS in reality.</h4>
            <p class="mb30" style="text-indent: 50px;">I am a Technology enthusiast and help people to modernize their experience. Powered by VS Code, Photoshop, and Cad Modelings are my Bread n Butter. Believing in loyalty, customer satisfaction and future demand for a solution helps me to stay motivated. Staying in tune with AI and Robotics is another reason that makes me feel all-rounder. I am confident enough that my skill set would be an excellent addition to your organization.</p>
            <div class="items row" style="width: 100%;">
              <div class="p-2 col-sm-5 col-12" ><button type="button" class="btn btn-ins"><i class="fas fa-location-arrow pr-2"></i>Pune</button></div> 
              <div class="p-2 col-sm-7 col-12" ><button type="button" class="btn btn-ins"><i class="fas fa-lg fa-phone-alt pr-1"></i>+91-7040406398</button></div>  
              <div class="p-2 col-sm-5 col-12" ><button type="button" class="btn btn-ins"><i class="fas fa-lg fa-university pr-1"></i>PICT Pune</button></div>
              <a class="p-2 col-sm-7 col-12" href="mailto:amitchakor21@gmail.com"><button type="button" class="btn btn-ins"><i class="fas fa-lg fa-envelope pr-1"></i>AmitChakor21@gmail.com</button></a> 
            </div>
      </div>

      <div class="p-2 col-xl-4 col-lg-4 col-md-5 col-sm-10 col-10">
        <div class="flex-row align-items-center justify-content-center" >
          <img [src]="img1" data-src="" alt="Profile Photo">
        </div>
      </div>
  </div>
  <app-svg-repeater></app-svg-repeater>
  <app-svg-repeater-bottom></app-svg-repeater-bottom>

</div>


