<div style="position: relative;">
  <div class="box container-fluid column-flexbox" style="position: relative;"> 
    <div class="row-flexbox">
        <h1>Robocon Diaries</h1>
    </div>
    <div class="row container-fluid row-flexbox">
      <div class="p-2 col-md-6 column-flexbox " style="align-items: start;">
        <h3>ABU Robocon Experience</h3>
        <ul>
          <li><h5>2017 Participant</h5></li>
          <li><h5>2018 Participant</h5></li>
          <li><h5>2019 Participant and Team Leader (AIR 14)</h5></li>
        </ul>
        <div class="container-fluid d-flex justify-content-start">
          <button type="button" class="btn btn-elegant p-2"><i class="far fa-user pr-2" aria-hidden="true"></i>User</button>
          <button type="button" class="btn btn-unique p-2"><i class="fas fa-wifi pr-2" aria-hidden="true"></i>Wifi</button>
          <button type="button" class="btn btn-pink p-2"><i class="fas fa-plane pr-2" aria-hidden="true"></i>Plane</button>
          <button type="button" class="btn btn-purple p-2"><i class="fas fa-heart pr-2" aria-hidden="true"></i>Heart</button>
        </div>
      </div>
      <div class="p-2 col-md-6 flex-column">
          <div class="p-2" style="text-align: center;"><h5>Robocon India 2019 League Match between PICT & IIT Patna</h5></div>
          <div class="p-2 embed-responsive embed-responsive-4by3" style="border: 1px solid red;">
            <iframe class="embed-responsive-item" style="border-radius: 4px ;" src="" allowfullscreen></iframe>
            <div style="display: none;">https://www.youtube.com/embed/I0WrLMxZSB4?rel=0</div>
          </div>
      </div>
    </div>
  
  </div>

<app-svg-repeater></app-svg-repeater>
<app-svg-repeater-bottom></app-svg-repeater-bottom>
</div>

