<div id="robocon" style="position: relative;">
  <div class="box container-fluid column-flexbox" style="position: relative;"> 
    <div class="row-flexbox">
        <h1>Robocon Diaries</h1>
    </div>
    <div class="row container-fluid row-flexbox">
      <div class="p-2 col-md-6 column-flexbox " style="align-items: start;">
        <h3>ABU Robocon Experience</h3>
        <ul>
          <li><h5>2017 Participant</h5></li>
          <li><h5>2018 Participant</h5></li>
          <li><h5>2019 Participant and Team Leader (AIR 14)</h5></li>
        </ul>
        <!-- <button mat-button (click)="onClickButton()">Dashboard</button><br> -->
        <div class="container-fluid d-flex justify-content-start">

          <!-- <a href="https://grabcad.com/library/mr1-3"><button type="button" class="btn btn-ins"><i class="far fa-lg fa-lightbulb pr-1"></i>Cad MR1</button>
          </a>  
          <a href="https://grabcad.com/library/mr2-5"><button type="button" class="btn btn-ins"><i class="far fa-lg fa-lightbulb pr-1"></i>Cad MR2</button>
          </a>  -->
          <a href="https://drive.google.com/drive/folders/1A3Lv22JlL6-aW7d3uXvsDiZN5We82NjT"><button type="button" class="btn btn-ins"><i class="fab fa-lg fa-github pr-1"></i>Git</button>
          </a>
          <a href="https://drive.google.com/drive/folders/1Zr6bMFcswdrxlyKWooLGRKbUjdZqD_5N"><button type="button" class="btn btn-ins"><i class="far fa-lg fa-images pr-1"></i>Gallery</button>
          </a>      

        </div>
      </div>
      <div class="p-2 col-md-6 flex-column">
          <div class="p-2" style="text-align: center;"><h5>Robocon India 2019 League Match between PICT & IIT Patna</h5></div>
          <div class="p-2 embed-responsive embed-responsive-4by3" style="border: 1px solid yellow;">
            <iframe class="embed-responsive-item" style="border-radius: 4px ;" src="https://www.youtube.com/embed/I0WrLMxZSB4?rel=0" allowfullscreen></iframe>
            <!-- <div style="display: none;">https://www.youtube.com/embed/I0WrLMxZSB4?rel=0</div> -->
          </div>
      </div>
    </div>
  </div>

<app-svg-repeater></app-svg-repeater>
<app-svg-repeater-bottom></app-svg-repeater-bottom>
</div>